sb_project/src/main/mule/sb_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="sb_projectFlow" doc:id="343ed13e-ea53-440b-9ac8-ca4488a73b7e" >
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="520059c0-1a7e-4bb4-8dd0-d37ec492e55e" />
	</flow>
</mule>
