sandbox_project_test/src/main/mule/sandbox_project_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="sandbox_project_testFlow" doc:id="fb72ddbe-030f-4321-bce9-8d2b0cdcce11" >
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="0769ec72-21f0-409d-86df-87096e12736b" />
	</flow>
</mule>
